<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
    </assemblyBinding> 
  </runtime>
  <appSettings>
    <add key="clientId" value="f37dac5f-fe14-442f-99aa-18ee1fa0f46b" />
    <add key="authority" value="https://login.windows.net/common" />
    <add key="returnUri" value="https://pcl-dev-pclconstruct-api.azurewebsites.net/.auth/login/done" />
    <add key="graphResourceUri" value="https://graph.windows.net" />
  </appSettings>
</configuration>