<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pcl-dev-pclconstruct-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pcl-dev-pclconstruct-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PCL-Dev-PCLConstruct-Api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$PCL-Dev-PCLConstruct-Api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PCLConstruct.Api.Models.ApiContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pclwu-dev-pclconstruct-sql.database.windows.net,1433;Initial Catalog=PCLConstructPOC;Persist Security Info=False;User ID=bstearns;Password=Test1234#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:pclwu-dev-pclconstruct-sql.database.windows.net,1433;Initial Catalog=PCLConstructPOC;Persist Security Info=False;User ID=bstearns;Password=Test1234#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PCLConstruct.Api.Models.ApiContext, PCLConstruct.Api" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MS_TableConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="UseDevelopmentStorage=true;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_TableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="UseDevelopmentStorage=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SQLConnectionString" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:pclwu-dev-pclconstruct-sql.database.windows.net,1433;Initial Catalog=PCLConstructPOC;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SQLConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:pclwu-dev-pclconstruct-sql.database.windows.net,1433;Initial Catalog=PCLConstructPOC;Persist Security Info=False;User ID={your_username};Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MS_TableConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PCLConstruct.Api.Models.ApiContext-Web.config Connection String">
      <ParameterValue>Server=tcp:pclwu-dev-pclconstruct-sql.database.windows.net,1433;Initial Catalog=PCLConstructPOC;Persist Security Info=False;User ID=bstearns;Password=Test1234#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SQLConnectionString-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PCLConstruct.Api.Models.ApiContext" />
  </ItemGroup>
</Project>